<div id="modalBrandForm" class="modal">
    {form brandForm}
        <div class="modal-content">
            <h4>Přidat značku</h4>
            <div class="input-field">
                {input title}
                <label for="title">{label title /}</label>
            </div>
        </div>
        <div class="modal-footer">
            {input save}
        </div>
    {/form}
</div>