{block content}
<a href="#modalBrandForm" class="waves-effect waves-light btn blue darken-3 modal-trigger">
    <span class="material-icons">add</span>
    Přidat značku</a>
{control brandGrid}
{control brandForm}