search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade
			- *Manager
			- I*Grid
			- I*Form

services:
	- App\Router\RouterFactory::createRouter
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	- App\Model\Service\AuthenticatorService

