<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Sportisimo</title>
</head>
<body>

<div class="section">
    <div class="container">
        <h1 class="header center blue-text">Sportisimo</h1>
        <div class="row center">
            <div class="col s6 offset-s3">
                <div n:foreach="$flashes as $flash" class="red-text d-flex align-items-center">
                    {$flash->message}
                </div>
                {include content}
            </div>
        </div>
    </div>
</div>
{block scripts}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    <script>
        M.AutoInit();
    </script>
{/block}
</body>
</html>
